- model_class = AssetCategorizationItem
%tr.field
  %td
    %table.table.table-condensed.table-bordered
      %tr
        %th{colspan: 7}
          %h4.info= "#{model_class.model_name.human}"
          =f.input_field :asset_id, as: :hidden
      %tr
        %th= model_class.human_attribute_name(:sub_category_id)
        %th= model_class.human_attribute_name(:asset_name)
        %th= model_class.human_attribute_name(:brand)
        %th= model_class.human_attribute_name(:model)
        %th= model_class.human_attribute_name(:serial_no)
        %th{colspan: 2}= model_class.human_attribute_name(:specification)
      %tr
        %td= f.input_field :sub_category_id, as: :select, :collection => SubCategory.all.collect{|c| ["#{c.code} #{c.name}", c.id]}, class: "input-block-level"
        %td= f.input_field :asset_name, class: "input-block-level"
        %td= f.input_field :brand, class: "input-block-level"
        %td= f.input_field :model, class: "input-block-level"
        %td= f.input_field :serial_no, class: "input-block-level"
        %td{colspan: 2}= f.input_field :specification, class: "input-block-level"
      %tr
        %th= model_class.human_attribute_name(:purchase_no)
        %th= model_class.human_attribute_name(:contract_no)
        %th{colspan: 2}= model_class.human_attribute_name(:supplier)
        %th= model_class.human_attribute_name(:arrival_date)
        %th= model_class.human_attribute_name(:amount)
        %th= model_class.human_attribute_name(:conversion_rate)
      %tr
        %td= f.input_field :purchase_no, class: "input-block-level"
        %td= f.input_field :contract_no, class: "input-block-level"
        %td{colspan: 2}= f.input_field :supplier, class: "input-block-level"
        %td= f.input_field :arrival_date, as: :string, class: "input-block-level", :"data-behavior" => "datepicker"
        %td= f.input_field :amount, class: "input-block-level"
        %td= f.input_field :conversion_rate, class: "input-block-level"
      %tr
        %th= model_class.human_attribute_name(:design_company)
        %th= model_class.human_attribute_name(:construction_company)
        %th= model_class.human_attribute_name(:construction_date_from)
        %th= model_class.human_attribute_name(:construction_date_to)
        %th{colspan:3}= model_class.human_attribute_name(:remark)
      %tr
        %td= f.input_field :design_company, class: "input-block-level"
        %td= f.input_field :construction_company, class: "input-block-level"
        %td= f.input_field :construction_date_from, as: :string, class: "input-block-level", :"data-behavior" => "datepicker"
        %td= f.input_field :construction_date_to, as: :string, class: "input-block-level", :"data-behavior" => "datepicker"
        %td{colspan:3}= f.input_field :remark, class: "input-block-level"
  %td.pull-right= link_to_destroy_fields(content_tag("i", "", class: "icon-trash"), f, href: "javascript:void(0);")
