- model_class = AssetCategorizationItem
%tr.field
  %td
    %table.table.table-condensed.table-bordered
      %tr
        %th{colspan: 7}
          %h4.info= "#{model_class.model_name.human}"
          =f.input_field :asset_id, as: :hidden
      %tr
        %th= model_class.human_attribute_name(:sub_category_id)
        %th= model_class.human_attribute_name(:asset_name)
        %th= model_class.human_attribute_name(:brand)
        %th= model_class.human_attribute_name(:model)
        %th= model_class.human_attribute_name(:serial_no)
        %th= model_class.human_attribute_name(:specification)
        %th= model_class.human_attribute_name(:remark)
      %tr
        %td= f.input_field :sub_category_id, as: :select, :collection => SubCategory.selectable, class: "input-block-level"
        %td= f.input_field :asset_name, class: "input-block-level"
        %td= f.input_field :brand, class: "input-block-level"
        %td= f.input_field :model, class: "input-block-level"
        %td= f.input_field :serial_no, class: "input-block-level"
        %td= f.input_field :specification, class: "input-block-level"
        %td= f.input_field :remark, class: "input-block-level"
      %tr
        %th= model_class.human_attribute_name(:original_cost)
        %th= model_class.human_attribute_name(:vat)
        %th= model_class.human_attribute_name(:vat_rate)
        %th= model_class.human_attribute_name(:purchase_no)
        %th= model_class.human_attribute_name(:contract_no)
        %th= model_class.human_attribute_name(:warranty_date_from)
        %th= model_class.human_attribute_name(:warranty_period)
      %tr
        %td= f.input_field :original_cost, class: "input-block-level"
        %td= f.input_field :vat, class: "input-block-level"
        %td= f.input_field :vat_rate, class: "input-block-level", collection: Asset::VatRateOptions
        %td= f.input_field :purchase_no, class: "input-block-level"
        %td= f.input_field :contract_no, class: "input-block-level"
        %td= f.input_field :warranty_date_from, as: :string, class: "input-block-level", :"data-behavior" => "datepicker"
        %td= f.input_field :warranty_period, class: "input-block-level"
      %tr
        %th= model_class.human_attribute_name(:supplier)
        %th= model_class.human_attribute_name(:arrival_date)
        %th= model_class.human_attribute_name(:design_company)
        %th= model_class.human_attribute_name(:construction_company)
        %th= model_class.human_attribute_name(:construction_date_from)
        %th= model_class.human_attribute_name(:construction_date_to)
        %th= model_class.human_attribute_name(:quantity)
      %tr
        %td= f.input_field :supplier, class: "input-block-level"
        %td= f.input_field :arrival_date, as: :string, class: "input-block-level", :"data-behavior" => "datepicker"
        %td= f.input_field :design_company, class: "input-block-level"
        %td= f.input_field :construction_company, class: "input-block-level"
        %td= f.input_field :construction_date_from, as: :string, class: "input-block-level", :"data-behavior" => "datepicker"
        %td= f.input_field :construction_date_to, as: :string, class: "input-block-level", :"data-behavior" => "datepicker"
        %td= f.input_field :quantity, class: "input-block-level"
      %tr
        %th= model_class.human_attribute_name(:construction_period)
        %th= model_class.human_attribute_name(:specific_investment)
        %th= model_class.human_attribute_name(:management_department_id)
        %th= model_class.human_attribute_name(:cost_center_id)
        %th= model_class.human_attribute_name(:allocation_propotion)
        %th= model_class.human_attribute_name(:responsible_by)
        %th= model_class.human_attribute_name(:store_location_id)
      %tr
        %td= f.input_field :construction_period_id, class: "input-block-level", collection: ConstructionPeriod.selectable
        %td= f.input_field :specific_investment_id, class: "input-block-level", collection: SpecificInvestment.selectable
        %td= f.input_field :management_department_id, class: "input-block-level", collection: Department.selectable
        %td= f.input_field :cost_center_id, class: "input-block-level", collection: CostCenter.selectable
        %td= f.input_field :allocation_propotion, as: :string, class: "input-block-level"
        %td= f.input_field :responsible_by, class: "input-block-level"
        %td= f.input_field :store_location_id, class: "input-block-level", collection: StoreLocation.selectable
      %tr
        %th= model_class.human_attribute_name(:accessory_status)
        %th= model_class.human_attribute_name(:is_energy_saving)
        %th= model_class.human_attribute_name(:is_env_protection)
        %th= model_class.human_attribute_name(:is_research_use)
        %th= model_class.human_attribute_name(:is_safety_production)
        %th= model_class.human_attribute_name(:is_not_any_favorable)
        %th
      %tr
        %td= f.input_field :accessory_status, class: "input-block-level", collection: Asset::AccessoryStatusType.map{|key, value| [ value[:description], value[:weight]]}.reverse.take(2)
        %td= f.input_field :is_energy_saving
        %td= f.input_field :is_env_protection
        %td= f.input_field :is_research_use
        %td= f.input_field :is_safety_production
        %td= f.input_field :is_not_any_favorable
        %td
      %tr
        %th= model_class.human_attribute_name(:is_vat_deduction)
        %th= model_class.human_attribute_name(:is_special_fund)
        %th= model_class.human_attribute_name(:is_tariff_free)
        %th{colspan: 4}
      %tr
        %td= f.input_field :is_vat_deduction
        %td= f.input_field :is_special_fund
        %td= f.input_field :is_tariff_free
        %td{colspan: 4}

  %td.pull-right
    = link_to_destroy_fields(content_tag("i", "", class: "icon-trash"), f, href: "javascript:void(0);")
