- model_class = AssetCategorization.new.class
.row-fluid
  .span12
    %table.table.table-condensed.table-hover.my-table
      %thead
        %tr
          %th= check_box_tag "check_#{model_class.name.underscore}"
          %th= model_class.human_attribute_name(:id)
          %th= model_class.human_attribute_name(:categorize_type)
          %th= model_class.human_attribute_name(:items_count)
          %th= model_class.human_attribute_name(:created_at)
          %th= model_class.human_attribute_name(:submitted)
          %th= model_class.human_attribute_name(:confirmed)
          %th= model_class.human_attribute_name(:approved)
          %th
      %tbody
        - asset_categorizations.each do |asset_categorization|
          %tr{href: asset_categorization_path(asset_categorization)}
            %td= check_box_tag "#{model_class.name.underscore}_id_#{asset_categorization.id}"
            %td= asset_categorization.id
            %td= asset_categorization.categorize_type_name
            %td= asset_categorization.items_count
            %td= asset_categorization.created_at && asset_categorization.created_at.to_date
            %td= icon_true_false(asset_categorization.submitted)
            %td= icon_true_false(asset_categorization.confirmed)
            %td= icon_true_false(asset_categorization.approved)
            %td
              .btn-group
                %button.btn.btn-info.dropdown-toggle{:"data-toggle" => "dropdown"}
                  %i.icon-wrench.icon-white
                  = t(".operation", default: t("helpers.links.operation"))
                  %span.caret
                %ul.dropdown-menu
                  - if can? :modify, asset_categorization
                    %li
                      = link_to edit_asset_categorization_path(asset_categorization) do
                        %i.icon-pencil
                        %span= t(".edit", default: t("helpers.links.edit"))
                    %li
                      = link_to asset_categorization, method: :delete, data: {confirm: t(".destroy_confirm", default: t("helpers.links.destroy_confirm"))} do
                        %i.icon-trash
                        %span= t(".destroy", default: t("helpers.links.destroy"))
                  - if can? :submit, asset_categorization
                    %li
                      = link_to submit_asset_categorization_path(asset_categorization), method: :put do
                        %i.icon-upload
                        %span= t(".submit", default: t("helpers.links.submit"))
                  - if can? :confirm, asset_categorization
                    %li
                      = link_to confirm_asset_categorization_path(asset_categorization), method: :put do
                        %i.icon-check
                        %span= t(".confirm", default: t("helpers.links.confirm"))
                  - if can? :reject, asset_categorization
                    %li
                      = link_to reject_asset_categorization_path(asset_categorization), method: :put do
                        %i.icon-thumbs-down
                        %span= t(".reject", default: t("helpers.links.reject"))
                  - if can? :approve, asset_categorization
                    %li
                      = link_to approve_asset_categorization_path(asset_categorization), method: :put do
                        %i.icon-check
                        %span= t(".approve", default: t("helpers.links.approve"))
.row-fluid
  .span12
    = paginate asset_categorizations
