- model_class = @asset_categorization.class
.row-fluid.page-header
  .span4
    %h3= t(".title", title: "#{model_class.model_name.human}: #{@asset_categorization.id}", default: t("helpers.views.show.title", title: "#{model_class.model_name.human}: #{@asset_categorization.id}"))
  .span8
    .pull-right
      .btn-group
        %a.btn.btn-info.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0);"}
          %i.icon-wrench.icon-white
          = t('.operation',default: t('helpers.links.operation'))
          %span.caret
        %ul.dropdown-menu
          - if can? :submit, @asset_categorization
            %li
              = link_to submit_asset_categorization_path(@asset_categorization), method: :put do
                %i.icon-upload
                %span= t(".submit", default: t("helpers.links.submit"))
          - if can? :confirm, @asset_categorization
            %li
              = link_to confirm_asset_categorization_path(@asset_categorization), method: :put do
                %i.icon-check
                %span= t(".confirm", default: t("helpers.links.confirm"))
          - if can? :approve, @asset_categorization
            %li
              = link_to approve_asset_categorization_path(@asset_categorization), method: :put do
                %i.icon-check
                %span= t(".approve", default: t("helpers.links.approve"))
          - if can? :modify, @asset_categorization
            %li
              = link_to edit_asset_categorization_path(@asset_categorization) do
                %i.icon-pencil
                %span= t(".edit", default: t("helpers.links.edit"))
              = link_to @asset_categorization, method: :delete, data: {confirm: t(".destroy_confirm", default: t("helpers.links.destroy_confirm"))} do
                %i.icon-trash
                %span= t(".destroy", default: t("helpers.links.destroy"))
          - if can? :read, AssetCategorization
            %li
              = link_to asset_categorizations_path do
                %i.icon-list
                %span= t(".index", default: t("helpers.links.index"))
          - if can? :index_confirmable, AssetCategorization
            %li
              = link_to confirmable_asset_categorizations_path do
                %i.icon-list
                %span= t(".index_confirmable", default: t("helpers.links.index"))
          - if can? :index_approvable, AssetCategorization
            %li
              = link_to approvable_asset_categorizations_path do
                %i.icon-list
                %span= t(".index_approvable", default: t("helpers.links.index"))
      .btn-group
        = render "layouts/toolbar"

.row-fluid
  .span12
    %table.table.table-bordered.table-hover.table-condensed
      %thead
        %tr
          %th= model_class.human_attribute_name(:categorize_type)
          %th= model_class.human_attribute_name(:created_by_id)
          %th= model_class.human_attribute_name(:created_at)
          %th= model_class.human_attribute_name(:updated_by_id)
          %th= model_class.human_attribute_name(:updated_at)
      %tbody
        %tr
          %td= @asset_categorization.categorize_type_name
          %td= @asset_categorization.created_by
          %td= @asset_categorization.created_at && @asset_categorization.created_at.to_date
          %td= @asset_categorization.updated_by
          %td= @asset_categorization.updated_at && @asset_categorization.updated_at.to_date
.row-fluid
  .span12
    %table.table.table-bordered.table-hover.table-condensed.my-table-sheet
      %thead
        %tr
          %th= model_class.human_attribute_name(:submitted)
          %th= model_class.human_attribute_name(:submitted_by_id)
          %th= model_class.human_attribute_name(:submitted_at)
          %th= model_class.human_attribute_name(:confirmed)
          %th= model_class.human_attribute_name(:confirmed_by_id)
          %th= model_class.human_attribute_name(:confirmed_at)
          %th= model_class.human_attribute_name(:approved)
          %th= model_class.human_attribute_name(:approved_by_id)
          %th= model_class.human_attribute_name(:approved_at)
      %tbody
        %tr
          %td= icon_true_false(@asset_categorization.submitted)
          %td= @asset_categorization.submitted_by
          %td= @asset_categorization.submitted_at && @asset_categorization.submitted_at.to_date
          %td= icon_true_false(@asset_categorization.confirmed)
          %td= @asset_categorization.confirmed_by
          %td= @asset_categorization.confirmed_at && @asset_categorization.confirmed_at.to_date
          %td= icon_true_false(@asset_categorization.approved)
          %td= @asset_categorization.approved_by
          %td= @asset_categorization.approved_at && @asset_categorization.approved_at.to_date

- item_class = AssetCategorizationItem
- @asset_categorization.asset_categorization_items.each do |item|
  .row-fluid
    .span12
      %table.table.table-bordered.table-hover.table-condensed
        %tbody
          %tr
            %th= item_class.model_name.human
            %td{colspan:6}= item.asset_no
          %tr
            %th= item_class.human_attribute_name(:sub_category_id)
            %th= item_class.human_attribute_name(:asset_name)
            %th= item_class.human_attribute_name(:brand)
            %th= item_class.human_attribute_name(:model)
            %th= item_class.human_attribute_name(:serial_no)
            %th{colspan:2}= item_class.human_attribute_name(:specification)
          %tr
            %td= item.sub_category
            %td= item.asset_name
            %td= item.brand
            %td= item.model
            %td= item.serial_no
            %td{colspan:2}= item.specification
          %tr
            %th= item_class.human_attribute_name(:purchase_no)
            %th= item_class.human_attribute_name(:contract_no)
            %th{colspan:2}= item_class.human_attribute_name(:supplier)
            %th= item_class.human_attribute_name(:arrival_date)
            %th= item_class.human_attribute_name(:amount)
            %th= item_class.human_attribute_name(:conversion_rate)
          %tr
            %td= item.purchase_no
            %td= item.contract_no
            %td{colspan:2}= item.supplier
            %td= item.arrival_date && item.arrival_date.to_date
            %td= item.amount
            %td= item.conversion_rate_percentage
          %tr
            %th= item_class.human_attribute_name(:design_company)
            %th= item_class.human_attribute_name(:construction_company)
            %th= item_class.human_attribute_name(:construction_date_from)
            %th= item_class.human_attribute_name(:construction_date_to)
            %th{colspan:3}= item_class.human_attribute_name(:remark)
          %tr
            %td= item.design_company
            %td= item.construction_company
            %td= item.construction_date_from && item.construction_date_from.to_date
            %td= item.construction_date_to && item.construction_date_to.to_date
            %td{colspan:3}= item.remark
