- model_class = AssetCategorization
.row-fluid.page-header
  .span4
    %h3= t(".title", title: "#{model_class.model_name.human}: #{@asset_categorization.id}", default: t("helpers.views.show.title", title: "#{model_class.model_name.human}: #{@asset_categorization.id}"))
  .span8
    .pull-right
      .btn-group
        %a.btn.btn-info.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0);"}
          %i.icon-wrench.icon-white
          = t('.operation',default: t('helpers.links.operation'))
          %span.caret
        %ul.dropdown-menu
          - if can? :submit, @asset_categorization
            %li
              = link_to submit_asset_categorization_path(@asset_categorization), method: :put do
                %i.icon-upload
                %span= t(".submit", default: t("helpers.links.submit"))
          - if can? :arrange_number, @asset_categorization
            %li
              = link_to arrange_number_asset_categorization_path(@asset_categorization), method: :put do
                %i.icon-upload
                %span= t(".arrange_number")
          - if can? :confirm, @asset_categorization
            %li
              = link_to confirm_asset_categorization_path(@asset_categorization), method: :put do
                %i.icon-check
                %span= t(".confirm", default: t("helpers.links.confirm"))
          - if can? :approve, @asset_categorization
            %li
              = link_to approve_asset_categorization_path(@asset_categorization), method: :put do
                %i.icon-check
                %span= t(".approve", default: t("helpers.links.approve"))
          - if can? :modify, @asset_categorization
            %li
              = link_to edit_asset_categorization_path(@asset_categorization) do
                %i.icon-pencil
                %span= t(".edit", default: t("helpers.links.edit"))
              = link_to @asset_categorization, method: :delete, data: {confirm: t(".destroy_confirm", default: t("helpers.links.destroy_confirm"))} do
                %i.icon-trash
                %span= t(".destroy", default: t("helpers.links.destroy"))
          - if can? :read, AssetCategorization
            %li
              = link_to asset_categorizations_path do
                %i.icon-list
                %span= t(".index", default: t("helpers.links.index"))
          - if can? :index_confirmable, AssetCategorization
            %li
              = link_to confirmable_asset_categorizations_path do
                %i.icon-list
                %span= t(".index_confirmable", default: t("helpers.links.index"))
          - if can? :index_approvable, AssetCategorization
            %li
              = link_to approvable_asset_categorizations_path do
                %i.icon-list
                %span= t(".index_approvable", default: t("helpers.links.index"))
      .btn-group
        = render "layouts/toolbar"

.row-fluid
  .span12
    %table.table.table-bordered.table-hover.table-condensed
      %thead
        %tr
          %th= model_class.human_attribute_name(:categorize_type)
          %th= model_class.human_attribute_name(:estimated)
          %th= model_class.human_attribute_name(:created_by_id)
          %th= model_class.human_attribute_name(:created_at)
          %th= model_class.human_attribute_name(:updated_by_id)
          %th= model_class.human_attribute_name(:updated_at)
      %tbody
        %tr
          %td= @asset_categorization.categorize_type_name
          %td= icon_true_false(@asset_categorization.estimated)
          %td= @asset_categorization.created_by
          %td= @asset_categorization.created_at && @asset_categorization.created_at.to_date
          %td= @asset_categorization.updated_by
          %td= @asset_categorization.updated_at && @asset_categorization.updated_at.to_date
.row-fluid
  .span12
    %table.table.table-bordered.table-hover.table-condensed.my-table-sheet
      %thead
        %tr
          %th= model_class.human_attribute_name(:submitted)
          %th= model_class.human_attribute_name(:submitted_by_id)
          %th= model_class.human_attribute_name(:submitted_at)
          %th= model_class.human_attribute_name(:number_arranged)
          %th= model_class.human_attribute_name(:number_arranged_by_id)
          %th= model_class.human_attribute_name(:number_arranged_at)
          %th= model_class.human_attribute_name(:confirmed)
          %th= model_class.human_attribute_name(:confirmed_by_id)
          %th= model_class.human_attribute_name(:confirmed_at)
          %th= model_class.human_attribute_name(:approved)
          %th= model_class.human_attribute_name(:approved_by_id)
          %th= model_class.human_attribute_name(:approved_at)
      %tbody
        %tr
          %td= icon_true_false(@asset_categorization.submitted)
          %td= @asset_categorization.submitted_by
          %td= @asset_categorization.submitted_at && @asset_categorization.submitted_at.to_date
          %td= icon_true_false(@asset_categorization.number_arranged)
          %td= @asset_categorization.number_arranged_by
          %td= @asset_categorization.number_arranged_at && @asset_categorization.number_arranged_at.to_date
          %td= icon_true_false(@asset_categorization.confirmed)
          %td= @asset_categorization.confirmed_by
          %td= @asset_categorization.confirmed_at && @asset_categorization.confirmed_at.to_date
          %td= icon_true_false(@asset_categorization.approved)
          %td= @asset_categorization.approved_by
          %td= @asset_categorization.approved_at && @asset_categorization.approved_at.to_date

- item_class = AssetCategorizationItem
- @asset_categorization.asset_categorization_items.each do |item|
  .row-fluid
    .span12
      %table.table.table-bordered.table-hover.table-condensed
        %tbody
          %tr
            %th= item_class.model_name.human
            %td{colspan:6}= item.asset_no

          %tr
            %th= item_class.human_attribute_name(:sub_category_id)
            %th= item_class.human_attribute_name(:asset_name)
            %th= item_class.human_attribute_name(:brand)
            %th= item_class.human_attribute_name(:model)
            %th= item_class.human_attribute_name(:serial_no)
            %th= item_class.human_attribute_name(:specification)
            %th= item_class.human_attribute_name(:remark)
          %tr
            %td= item.sub_category
            %td= item.asset_name
            %td= item.brand
            %td= item.model
            %td= item.serial_no
            %td= item.specification
            %td= item.remark

          %tr
            %th= item_class.human_attribute_name(:original_cost)
            %th= item_class.human_attribute_name(:vat)
            %th= item_class.human_attribute_name(:vat_rate)
            %th= item_class.human_attribute_name(:purchase_no)
            %th= item_class.human_attribute_name(:contract_no)
            %th= item_class.human_attribute_name(:warranty_date_from)
            %th= item_class.human_attribute_name(:warranty_period)
          %tr
            %td= item.original_cost
            %td= item.vat
            %td= item.vat_rate
            %td= item.purchase_no
            %td= item.contract_no
            %td= item.warranty_date_from
            %td= item.warranty_period

          %tr
            %th= item_class.human_attribute_name(:supplier)
            %th= item_class.human_attribute_name(:arrival_date)
            %th= item_class.human_attribute_name(:design_company)
            %th= item_class.human_attribute_name(:construction_company)
            %th= item_class.human_attribute_name(:construction_date_from)
            %th= item_class.human_attribute_name(:construction_date_to)
            %th
          %tr
            %td= item.supplier
            %td= item.arrival_date
            %td= item.design_company
            %td= item.construction_company
            %td= item.construction_date_from
            %td= item.construction_date_to
            %td
          %tr
            %th= item_class.human_attribute_name(:construction_period_id)
            %th= item_class.human_attribute_name(:specific_investment_id)
            %th= item_class.human_attribute_name(:management_department_id)
            %th= item_class.human_attribute_name(:cost_center_id)
            %th= item_class.human_attribute_name(:allocation_propotion)
            %th= item_class.human_attribute_name(:responsible_by)
            %th= item_class.human_attribute_name(:store_location_id)
          %tr
            %td= item.construction_period
            %td= item.specific_investment
            %td= item.management_department
            %td= item.cost_center
            %td= item.allocation_propotion
            %td= item.responsible_by
            %td= item.store_location
          %tr
            %th= item_class.human_attribute_name(:accessory_status)
            %th= item_class.human_attribute_name(:is_energy_saving)
            %th= item_class.human_attribute_name(:is_env_protection)
            %th= item_class.human_attribute_name(:is_research_use)
            %th= item_class.human_attribute_name(:is_safety_production)
            %th= item_class.human_attribute_name(:is_not_any_favorable)
            %th
          %tr
            %td= item.accessory_status_name
            %td= icon_true_false(item.is_energy_saving)
            %td= icon_true_false(item.is_env_protection)
            %td= icon_true_false(item.is_research_use)
            %td= icon_true_false(item.is_safety_production)
            %td= icon_true_false(item.is_not_any_favorable)
            %td
          %tr
            %th= item_class.human_attribute_name(:is_vat_deduction)
            %th= item_class.human_attribute_name(:is_specific_fund)
            %th= item_class.human_attribute_name(:is_tariff_free)
            %th{colspan: 4}
          %tr
            %td= icon_true_false(item.is_vat_deduction)
            %td= icon_true_false(item.is_specific_fund)
            %td= icon_true_false(item.is_tariff_free)
            %td{colspan: 4}
