= simple_form_for(@master_data, as: :master_data, url: @master_data.new_record? ? master_datas_path : master_data_path(@master_data), method: (@master_data.new_record? ? :post : :put), html: {class: "well form-horizontal small-labels"}) do |f|

  = f.error_notification
  = display_error_messages @master_data


  .row-fluid
    .span6
      = f.input :code, :input_html => {class: "input-block-level"}
    .span6
      = f.input :name, :input_html => {class: "input-block-level"}
  .row-fluid
    .span6
      = f.input :type, as: :select, collection: MasterData.types, :input_html => {class: "input-block-level"}
    .span6
      = f.input :parent_id, collection: MasterData.enabled.selectable, :input_html => {class: "input-block-level"}
  .row-fluid
    .span12
      = f.input :description, as: :text, :input_html => {class: "input-block-level", rows: 3}

  .form-actions
    = f.button :submit, t('helpers.links.submit'), class: 'btn-primary'

  - if @master_data.is_a? SubCategory
    .row-fluid
      .accordion#sub_cat_numbers
        - AssetNumberPooling::StatusType.each do |key, value|
          .accordion-group
            .accordion-heading
              = link_to t(".asset_number", type: value[:description]), "#asset_number_pooling_#{key}", "data-toggle" => "collapse", "data-parent" => "#sub_cat_numbers", :class => "accordion-toggle"
            = content_tag(:div, :class => "accordion-body collapse", :id => "asset_number_pooling_#{key}") do
              .accordion-inner
                - @master_data.send("#{key}_numbers").each_with_index do |num, index|
                  - if index % 12 == 0
                    .row-fluid
                  .span1= num
