= ta.simple_fields_for :asset_transfer_item_froms do |fm|
  = fm.input :construction_period_id, as: :hidden
  = fm.input :cost_center_id, as: :hidden
  = fm.input :management_department_id, as: :hidden
  = fm.input :quantity, as: :hidden
  = fm.input :specific_investment_id, as: :hidden
