- model_class = AssetTransfer.new.class
.row-fluid.page-header
  .span5
    %h3= t(".title", title: model_class.model_name.human, default: t("helpers.views.index.title", title: model_class.model_name.human, default: ""))
  .span7
    .pull-right
      .btn-group
        = link_to new_asset_transfer_path, class: "btn" do
          %i.icon-plus
          %span= t(".new", default: t("helpers.links.new"))
      .btn-group
        = render "layouts/toolbar"
.row-fluid
  .span12
    = form_tag model_class, method: :get, class: "form-search" do
      .row-fluid
        .span12
          .input-append
            = text_field_tag "[search][text]", nil, class: "search-query", placeholder: t(".placehoder", default: t("helpers.links.search_placeholder", default: ""))
            = button_tag class: "btn" do
              %i.icon-search
              %span= t(".search", default: t("helpers.links.search"))
.row-fluid
  .span12
    %table.table.table-condensed.table-hover.my-table
      %thead
        %tr
          %th= check_box_tag "check_#{model_class.name.underscore}"
          %th= model_class.human_attribute_name(:effective_date)
          %th= model_class.human_attribute_name(:created_at)
          %th= model_class.human_attribute_name(:submitted_at)
          %th= model_class.human_attribute_name(:confirmed_at)
          %th= model_class.human_attribute_name(:approved_at)
          %th= model_class.human_attribute_name(:rejected_at)
          %th= model_class.human_attribute_name(:published_at)
          %th= model_class.human_attribute_name(:document_status)
          %th
      %tbody
        - @asset_transfers.each do |asset_transfer|
          %tr{href: asset_transfer_path(asset_transfer)}
            %td= check_box_tag "#{model_class.name.underscore}_id_#{asset_transfer.id}"
            %td= asset_transfer.effective_date
            %td= asset_transfer.created_at
            %td= asset_transfer.submitted_at
            %td= asset_transfer.confirmed_at
            %td= asset_transfer.approved_at
            %td= asset_transfer.rejected_at
            %td= asset_transfer.published_at
            %td= asset_transfer.document_status
            %td
              .btn-group.pull-right
                = link_to asset_transfer, class: "btn" do
                  %i.icon-eye-open
                  %span= t(".show", default: t("helpers.links.show"))
                = link_to edit_asset_transfer_path(asset_transfer), class: "btn" do
                  %i.icon-pencil
                  %span= t(".edit", default: t("helpers.links.edit"))
                = link_to asset_transfer, method: :delete, data: {confirm: t(".destroy_confirm", default: t("helpers.links.destroy_confirm"))}, class: "btn btn-danger" do
                  %i.icon-trash.icon-white
                  %span= t(".destroy", default: t("helpers.links.destroy"))
.row-fluid
  .span12
    = paginate @asset_transfers
