- model_class = AssetCostAdjustment.new.class
.row-fluid.page-header
  .span5
    %h3= t(".title", title: model_class.model_name.human, default: t("helpers.views.index.title", title: model_class.model_name.human, default: ""))
  .span7
    .pull-right
      .btn-group
        = link_to new_asset_cost_adjustment_path, class: "btn" do
          %i.icon-plus
          %span= t(".new", default: t("helpers.links.new"))
      .btn-group
        = render "layouts/toolbar"
.row-fluid
  .span12
    = form_tag model_class, method: :get, class: "form-search" do
      .row-fluid
        .span12
          .input-append
            = text_field_tag "[search][text]", nil, class: "search-query", placeholder: t(".placehoder", default: t("helpers.links.search_placeholder", default: ""))
            = button_tag class: "btn" do
              %i.icon-search
              %span= t(".search", default: t("helpers.links.search"))
.row-fluid
  .span12
    %table.table.table-condensed.table-hover.my-table
      %thead
        %tr
          %th= check_box_tag "check_#{model_class.name.underscore}"
          %th= model_class.human_attribute_name(:effective_date)
          %th{colspan: 2}= model_class.human_attribute_name(:asset)
          %th= model_class.human_attribute_name(:changed_asset_attributes)
          %th= model_class.human_attribute_name(:submitted_at)
          %th= model_class.human_attribute_name(:confirmed_at)
          %th= model_class.human_attribute_name(:approved_at)
          %th= model_class.human_attribute_name(:rejected_at)
          %th
      %tbody
        - @asset_cost_adjustments.each do |asset_cost_adjustment|
          %tr{href: asset_cost_adjustment_path(asset_cost_adjustment)}
            %td= check_box_tag "#{model_class.name.underscore}_id_#{asset_cost_adjustment.id}"
            %td= asset_cost_adjustment.effective_date.try(:to_date)
            %td= asset_cost_adjustment.asset.sub_category
            %td= asset_cost_adjustment.asset.asset_no
            %td= raw asset_cost_adjustment.changed_asset_html(true, "<br>")
            %td= asset_cost_adjustment.submitted_at.try(:to_date)
            %td= asset_cost_adjustment.confirmed_at.try(:to_date)
            %td= asset_cost_adjustment.approved_at.try(:to_date)
            %td= asset_cost_adjustment.rejected_at.try(:to_date)
            %td
              .btn-group
                %button.btn.btn-info.dropdown-toggle{:"data-toggle" => "dropdown"}
                  %i.icon-wrench.icon-white
                  = t(".operation", default: t("helpers.links.operation"))
                  %span.caret
                %ul.dropdown-menu
                  - if can? :read, asset_cost_adjustment
                    %li
                      = link_to asset_cost_adjustment do
                        %i.icon-eye-open
                        %span= t('.show', default: t("helpers.links.show"))
                  - if can? :modify, asset_cost_adjustment
                    %li
                      = link_to edit_asset_cost_adjustment_path(asset_cost_adjustment) do
                        %i.icon-pencil
                        %span= t(".edit", default: t("helpers.links.edit"))
                    %li
                      = link_to asset_cost_adjustment, method: :delete, data: {confirm: t(".destroy_confirm", default: t("helpers.links.destroy_confirm"))} do
                        %i.icon-trash
                        %span= t(".destroy", default: t("helpers.links.destroy"))
                  - if can? :submit, asset_cost_adjustment
                    %li
                      = link_to submit_asset_cost_adjustment_path(asset_cost_adjustment), method: :put do
                        %i.icon-upload
                        %span= t(".submit", default: t("helpers.links.submit"))
                  - if can? :confirm, asset_cost_adjustment
                    %li
                      = link_to confirm_asset_cost_adjustment_path(asset_cost_adjustment), method: :put do
                        %i.icon-check
                        %span= t(".confirm", default: t("helpers.links.confirm"))
                  - if can? :approve, asset_cost_adjustment
                    %li
                      = link_to approve_asset_cost_adjustment_path(asset_cost_adjustment), method: :put do
                        %i.icon-check
                        %span= t(".approve", default: t("helpers.links.approve"))
.row-fluid
  .span12
    = paginate @asset_cost_adjustments
