- model_class = @asset_cost_adjustment.class
.row-fluid.page-header
  .span5
    %h3= t(".title", title: "#{model_class.model_name.human}: #{@asset_cost_adjustment.id}", default: t("helpers.views.show.title", title: "#{model_class.model_name.human}: #{@asset_cost_adjustment.id}", default: ""))
  .span7
    .pull-right
      .btn-group
        = link_to edit_asset_cost_adjustment_path(@asset_cost_adjustment), class: "btn" do
          %i.icon-pencil
          %span= t(".edit", default: t("helpers.links.edit"))

        = link_to @asset_cost_adjustment, method: :delete, data: {confirm: t(".destroy_confirm", default: t("helpers.links.destroy_confirm", default: ""))}, class: "btn btn-danger" do
          %i.icon-trash.icon-white
          %span= t(".destroy", default: t("helpers.links.destroy"))
        = link_to asset_cost_adjustments_path, class: "btn" do
          %i.icon-list
          %span= t(".index", default: t("helpers.links.index"))
      .btn-group
        = render "layouts/toolbar"

.row-fluid
  .span12
    %table.table.table-bordered.table-hover.table-condensed.my-table-sheet
      %tbody
        %tr
          %th.span2= model_class.human_attribute_name(:asset_id)
          %td.span10= @asset_cost_adjustment.asset_id
        %tr
          %th.span2= model_class.human_attribute_name(:effective_date)
          %td.span10= @asset_cost_adjustment.effective_date
        %tr
          %th.span2= model_class.human_attribute_name(:original_cost_from)
          %td.span10= @asset_cost_adjustment.original_cost_from
        %tr
          %th.span2= model_class.human_attribute_name(:original_cost_to)
          %td.span10= @asset_cost_adjustment.original_cost_to
        %tr
          %th.span2= model_class.human_attribute_name(:salvage_from)
          %td.span10= @asset_cost_adjustment.salvage_from
        %tr
          %th.span2= model_class.human_attribute_name(:salvage_to)
          %td.span10= @asset_cost_adjustment.salvage_to
        %tr
          %th.span2= model_class.human_attribute_name(:salvage_rate_from)
          %td.span10= @asset_cost_adjustment.salvage_rate_from
        %tr
          %th.span2= model_class.human_attribute_name(:salvage_rate_to)
          %td.span10= @asset_cost_adjustment.salvage_rate_to
