- model_class = AssetCategorization
- asset_categorization = @asset_categorization_item.asset_categorization
.row-fluid
  .span12
    %table.table.table-bordered.table-hover.table-condensed
      %thead
        %tr
          %th= model_class.human_attribute_name(:categorize_type)
          %th= model_class.human_attribute_name(:created_by_id)
          %th= model_class.human_attribute_name(:created_at)
          %th= model_class.human_attribute_name(:updated_by_id)
          %th= model_class.human_attribute_name(:updated_at)
      %tbody
        %tr
          %td= asset_categorization.categorize_type_name
          %td= asset_categorization.try(:created_by)
          %td= asset_categorization.try(:created_at).try(:to_date)
          %td= asset_categorization.try(:updated_by)
          %td= asset_categorization.try(:updated_at).try(:to_date)
.row-fluid
  .span12
    %table.table.table-bordered.table-hover.table-condensed.my-table-sheet
      %thead
        %tr
          %th= model_class.human_attribute_name(:submitted)
          %th= model_class.human_attribute_name(:submitted_by_id)
          %th= model_class.human_attribute_name(:submitted_at)
          %th= model_class.human_attribute_name(:number_arranged)
          %th= model_class.human_attribute_name(:number_arranged_by_id)
          %th= model_class.human_attribute_name(:number_arranged_at)
          %th= model_class.human_attribute_name(:confirmed)
          %th= model_class.human_attribute_name(:confirmed_by_id)
          %th= model_class.human_attribute_name(:confirmed_at)
          %th= model_class.human_attribute_name(:approved)
          %th= model_class.human_attribute_name(:approved_by_id)
          %th= model_class.human_attribute_name(:approved_at)
      %tbody
        %tr
          %td= icon_true_false(asset_categorization.submitted)
          %td= asset_categorization.try(:submitted_by)
          %td= asset_categorization.try(:submitted_at).try(:to_date)
          %td= icon_true_false(asset_categorization.try(:number_arranged))
          %td= asset_categorization.try(:number_arranged_by)
          %td= asset_categorization.try(:number_arranged_at).try(:to_date)
          %td= icon_true_false(asset_categorization.try(:confirmed))
          %td= asset_categorization.try(:confirmed_by)
          %td= asset_categorization.try(:confirmed_at).try(:to_date)
          %td= icon_true_false(asset_categorization.try(:approved))
          %td= asset_categorization.try(:approved_by)
          %td= asset_categorization.try(:approved_at).try(:to_date)

- item_class = AssetCategorizationItem
- item = @asset_categorization_item
.row-fluid
  .span12
    %table.table.table-bordered.table-hover.table-condensed
      %tbody
        %tr
          %th= item_class.model_name.human
          %td{colspan:6}= item.asset_no

        %tr
          %th= item_class.human_attribute_name(:sub_category_id)
          %th= item_class.human_attribute_name(:asset_name)
          %th= item_class.human_attribute_name(:brand)
          %th= item_class.human_attribute_name(:model)
          %th= item_class.human_attribute_name(:serial_no)
          %th= item_class.human_attribute_name(:specification)
          %th= item_class.human_attribute_name(:remark)
        %tr
          %td= item.sub_category
          %td= item.asset_name
          %td= item.brand
          %td= item.model
          %td= item.serial_no
          %td= item.specification
          %td= item.remark

        %tr
          %th= item_class.human_attribute_name(:original_cost)
          %th= item_class.human_attribute_name(:vat)
          %th= item_class.human_attribute_name(:vat_rate)
          %th= item_class.human_attribute_name(:purchase_no)
          %th= item_class.human_attribute_name(:contract_no)
          %th= item_class.human_attribute_name(:warranty_date_from)
          %th= item_class.human_attribute_name(:warranty_period)
        %tr
          %td= item.original_cost
          %td= item.vat
          %td= item.vat_rate
          %td= item.purchase_no
          %td= item.contract_no
          %td= item.warranty_date_from
          %td= item.warranty_period

        %tr
          %th= item_class.human_attribute_name(:supplier)
          %th= item_class.human_attribute_name(:arrival_date)
          %th= item_class.human_attribute_name(:design_company)
          %th= item_class.human_attribute_name(:construction_company)
          %th= item_class.human_attribute_name(:construction_date_from)
          %th= item_class.human_attribute_name(:construction_date_to)
          %th
        %tr
          %td= item.supplier
          %td= item.arrival_date
          %td= item.design_company
          %td= item.construction_company
          %td= item.construction_date_from
          %td= item.construction_date_to
          %td
        %tr
          %th= item_class.human_attribute_name(:construction_period_id)
          %th= item_class.human_attribute_name(:specific_investment_id)
          %th= item_class.human_attribute_name(:management_department_id)
          %th= item_class.human_attribute_name(:cost_center_id)
          %th= item_class.human_attribute_name(:allocation_propotion)
          %th= item_class.human_attribute_name(:responsible_by)
          %th= item_class.human_attribute_name(:store_location_id)
        %tr
          %td= item.construction_period
          %td= item.specific_investment
          %td= item.management_department
          %td= item.cost_center
          %td= item.allocation_propotion
          %td= item.responsible_by
          %td= item.store_location

.row-fluid
  .span12
    .form-actions
      .btn-group
        - if can? :submit, @asset_categorization_item.asset_categorization
          = link_to submit_asset_categorization_path(@asset_categorization_item.asset_categorization), method: :post, class: "btn" do
            %i.icon-upload
            %span= t(".submit", default: t("helpers.links.submit"))
        - if can? :confirm, @asset_categorization_item.asset_categorization
          = link_to confirm_asset_categorization_path(@asset_categorization_item.asset_categorization), method: :post, class: "btn" do
            %i.icon-check
            %span= t(".confirm", default: t("helpers.links.confirm"))
        - if can? :approve, @asset_categorization_item.asset_categorization
          = link_to approve_asset_categorization_path(@asset_categorization_item.asset_categorization), method: :post, class: "btn" do
            %i.icon-check
            %span= t(".approve", default: t("helpers.links.approve"))
        - if can? :modify, @asset_categorization_item.asset_categorization
          = link_to edit_asset_categorization_path(@asset_categorization_item.asset_categorization), class: "btn" do
            %i.icon-pencil
            %span= t(".edit", default: t("helpers.links.edit"))
          = link_to @asset_categorization_item.asset_categorization, method: :delete, data: {confirm: t(".destroy_confirm", default: t("helpers.links.destroy_confirm"))}, class: "btn btn-danger" do
            %i.icon-trash.icon-white
            %span= t(".destroy", default: t("helpers.links.destroy"))
        - if can? :read, AssetCategorization
          = link_to @asset_categorization_item.asset_categorization, class: "btn" do
            %i.icon-eye-open
            %span= t(".show", default: t("helpers.links.show"))

