- model_class = asset.class
%table.table.table-bordered.table-hover.table-condensed.my-table-sheet
  %tbody
    %tr
      %th.span2= model_class.human_attribute_name(:asset_no)
      %td.span10= asset.asset_no
    %tr
      %th.span2= model_class.human_attribute_name(:asset_name)
      %td.span10= asset.asset_name
    %tr
      %th.span2= model_class.human_attribute_name(:brand)
      %td.span10= asset.brand
    %tr
      %th.span2= model_class.human_attribute_name(:model)
      %td.span10= asset.model
    %tr
      %th.span2= model_class.human_attribute_name(:serial_no)
      %td.span10= asset.serial_no
    %tr
      %th.span2= model_class.human_attribute_name(:category)
      %td.span10= asset.category
    %tr
      %th.span2= model_class.human_attribute_name(:sub_category)
      %td.span10= asset.sub_category
    %tr
      %th.span2= model_class.human_attribute_name(:original_cost)
      %td.span10= asset.original_cost
    %tr
      %th.span2= model_class.human_attribute_name(:salvage)
      %td.span10= asset.salvage
    %tr
      %th.span2= model_class.human_attribute_name(:salvage_rate)
      %td.span10= asset.salvage_rate
    %tr
      %th.span2= model_class.human_attribute_name(:activated_by)
      %td.span10= asset.activated_by
    %tr
      %th.span2= model_class.human_attribute_name(:activated_at)
      %td.span10= asset.activated_at
    %tr
      %th.span2= model_class.human_attribute_name(:activated)
      %td.span10= asset.activated
    %tr
      %th.span2= model_class.human_attribute_name(:accepted_by)
      %td.span10= asset.accepted_by
    %tr
      %th.span2= model_class.human_attribute_name(:accepted)
      %td.span10= asset.accepted
    %tr
      %th.span2= model_class.human_attribute_name(:accepted_at)
      %td.span10= asset.accepted_at
    %tr
      %th.span2= model_class.human_attribute_name(:is_tariff_free)
      %td.span10= asset.is_tariff_free
    %tr
      %th.span2= model_class.human_attribute_name(:is_specific_fund)
      %td.span10= asset.is_specific_fund
    %tr
      %th.span2= model_class.human_attribute_name(:tax_preference)
      %td.span10= asset.tax_preference
    %tr
      %th.span2= model_class.human_attribute_name(:is_vat_free)
      %td.span10= asset.is_vat_free
    %tr
      %th.span2= model_class.human_attribute_name(:vat)
      %td.span10= asset.vat
    %tr
      %th.span2= model_class.human_attribute_name(:vat_rate)
      %td.span10= asset.vat_rate
    %tr
      %th.span2= model_class.human_attribute_name(:created_by)
      %td.span10= asset.created_by
    %tr
      %th.span2= model_class.human_attribute_name(:updated_by)
      %td.span10= asset.updated_by
    %tr
      %th.span2= model_class.human_attribute_name(:published)
      %td.span10= asset.published
    %tr
      %th.span2= model_class.human_attribute_name(:published_at)
      %td.span10= asset.published_at
