- info_adj_class = AssetInfoAdjustment
.row-fluid
  .span12
    %table.table.table-condensed.table-hover.my-table
      %thead
        %tr
          %th= info_adj_class.human_attribute_name(:effective_date)
          %th= info_adj_class.human_attribute_name(:changed_asset_attributes)
          %th{style: "width:150px"}
      %tbody
        - @asset_info_adjustments.each do |asset_info_adjustment|
          %tr{href: asset_info_adjustment_path(asset_info_adjustment)}
            %td= asset_info_adjustment.effective_date
            %td= raw asset_info_adjustment.changed_asset_html(true, "<br>")
            %td
              .btn-group
                = link_to asset_info_adjustment, class: "btn" do
                  %i.icon-eye-open
                  %span= t(".show", default: t("helpers.links.show"))
                = link_to edit_asset_info_adjustment_path(asset_info_adjustment), class: "btn" do
                  %i.icon-pencil
                  %span= t(".edit", default: t("helpers.links.edit"))
                = link_to asset_info_adjustment, method: :delete, data: {confirm: t(".destroy_confirm", default: t("helpers.links.destroy_confirm", default: "Confirm destory?"))}, class: "btn btn-danger" do
                  %i.icon-trash.icon-white
                  %span= t(".destroy", default: t("helpers.links.destroy", default: "Destroy"))
                = link_to submit_asset_info_adjustment_path(asset_info_adjustment), class: "btn btn-primary" do
                  %i.icon-upload.icon-white
                  %span= t(".submit", default: t("helpers.links.submit"))
