- model_class = Asset.new.class
.row-fluid.page-header
  .span5
    %h3= t(".title", title: model_class.model_name.human, default: t("helpers.views.index.title", title: model_class.model_name.human, default: ""))
  .span7
    .pull-right
      .btn-group
        - if can? :create, Asset
          = link_to new_asset_path, class: "btn" do
            %i.icon-plus
            %span= t(".new", default: t("helpers.links.new"))
      .btn-group
        = render "layouts/toolbar"
.row-fluid
  .span12
    = form_tag model_class, method: :get, class: "form-search" do
      .row-fluid
        .span12
          .input-append
            = text_field_tag "[search][text]", nil, class: "search-query", placeholder: t(".placehoder", default: t("helpers.links.search_placeholder", default: "")), "data-toggle" => "tooltip", "title" => t(".placehoder", default: t("helpers.links.search_placeholder", default: ""))
            = button_tag class: "btn" do
              %i.icon-search
              %span= t(".search", default: t("helpers.links.search"))
.row-fluid
  .span12
    %table.table.table-condensed.table-hover.my-table
      %thead
        %tr
          %th= check_box_tag "check_#{model_class.name.underscore}"
          %th= model_class.human_attribute_name(:category_description)
          %th= model_class.human_attribute_name(:asset_no)
          %th= model_class.human_attribute_name(:device_no)
          %th= model_class.human_attribute_name(:asset_name)
          %th= model_class.human_attribute_name(:brand)
          %th= model_class.human_attribute_name(:model)
          %th= model_class.human_attribute_name(:serial_no)
          %th= model_class.human_attribute_name(:activated)
          %th= model_class.human_attribute_name(:accepted)
          %th
      %tbody
        - @assets.each do |asset|
          %tr{href: asset_path(asset)}
            %td= check_box_tag "#{model_class.name.underscore}_id_#{asset.id}"
            %td= asset.category_description
            %td= asset.asset_no
            %td= asset.device_no
            %td= asset.asset_name
            %td= asset.brand
            %td= asset.model
            %td= asset.serial_no
            %td= icon_true_false(asset.activated)
            %td= icon_true_false(asset.accepted)
            %td
              .btn-group
                %a.btn.btn-info.dropdown-toggle{ :"data-toggle" => "dropdown", :href => "javascript:void(0);" }
                  = t('.operation', default: t('helpers.links.operation')) 
                  %span.caret
                %ul.dropdown-menu
                  - if can? :modify, asset
                    %li
                      = link_to edit_asset_path(asset) do
                        %i.icon-pencil
                        %span= t(".edit", default: t("helpers.links.edit"))
                    %li
                      = link_to asset, method: :delete, data: {confirm: t(".destroy_confirm", default: t("helpers.links.destroy_confirm", default: "Confirm destroy?"))} do
                        %i.icon-trash
                        %span= t(".destroy", default: t("helpers.links.destroy"))
                    %li.divider
                  - if can? :create, AssetInfoAdjustment
                    %li
                      = link_to new_asset_info_adjustment_path(:asset_id => asset.id) do
                        %i.icon-plus
                        %span= t(".new_info_adjustment", default: "New Asset Info Adjustment")
                  - if can? :create, AssetCostAdjustment
                    %li
                      = link_to new_asset_cost_adjustment_path(:asset_id => asset.id) do
                        %i.icon-plus
                        %span= t(".new_cost_adjustment", default: "New Asset Cost Adjustment")
                  - if can? :create, AccessoryAdjustment
                    %li
                      = link_to new_accessory_adjustment_path(:asset_id => asset.id) do
                        %i.icon-plus
                        %span= t(".new_accessory_adjustment", default: "New Accessory Adjustment")
                  - if can? :create, AssetTransfer
                    %li
                      = link_to new_asset_transfer_path(:asset_id => asset.id) do
                        %i.icon-plus
                        %span= t(".new_asset_transfer", default: "New Asset Transfer")
.row-fluid
  .span12
    = paginate @assets
