= simple_form_for(@asset_info_adjustment, html: {class: "well form-horizontal"}) do |f|
  = f.error_notification
  = display_base_errors @asset_info_adjustment
  .form-inputs
    = f.input :asset_id, as: :hidden
    = f.input :asset_name_from, as: :hidden
    = f.input :brand_from, as: :hidden
    = f.input :model_from, as: :hidden
    = f.input :serial_no_from, as: :hidden
    = f.input :is_tariff_free_from, as: :hidden
    = f.input :is_specific_fund_from, as: :hidden
    = f.input :is_vat_free_from, as: :hidden
    = f.input :vat_from, as: :hidden
    = f.input :vat_rate_from, as: :hidden
    .row-fluid
      .span12
        %legend
          %h3= "#{f.object.asset.category.name} - #{f.object.asset.sub_category.name} #{f.object.asset.asset_no}"
    .row-fluid
      .span4= f.input :effective_date, as: :string, input_html: { class: "input-block-level", :"data-behavior" => "datepicker" }
      .span8= f.input :asset_name_to, input_html: { class: "input-block-level" }
    .row-fluid
      .span6= f.input :brand_to, input_html: { class: "input-block-level" }
      .span6= f.input :model_to, input_html: { class: "input-block-level" }
    .row-fluid
      .span12= f.input :serial_no_to, input_html: { class: "input-block-level" }
    .row-fluid
      .span4= f.input :is_tariff_free_to, input_html: { class: "input-block-level" }
      .span4= f.input :is_specific_fund_to, input_html: { class: "input-block-level" }
      .span4
    .row-fluid
      .span4= f.input :is_vat_free_to, input_html: { class: "input-block-level" }
      .span4= f.input :vat_to, input_html: { class: "input-block-level" }
      .span4= f.input :vat_rate_to, input_html: { class: "input-block-level" }

  .form-actions
    = f.button :submit, t('helpers.links.submit'), class: 'btn-primary'
