- model_class = @asset_info_adjustment.class
.row-fluid.page-header
  .span5
    %h3= t(".title", title: "#{model_class.model_name.human}: #{@asset_info_adjustment.id}", default: t("helpers.views.show.title", title: "#{model_class.model_name.human}: #{@asset_info_adjustment.id}", default: ""))
  .span7
    .pull-right
      .btn-group
        = link_to edit_asset_info_adjustment_path(@asset_info_adjustment), class: "btn" do
          %i.icon-pencil
          %span= t(".edit", default: t("helpers.links.edit"))

        = link_to @asset_info_adjustment, method: :delete, data: {confirm: t(".destroy_confirm", default: t("helpers.links.destroy_confirm", default: "Confirm destroy?"))}, class: "btn btn-danger" do
          %i.icon-trash.icon-white
          %span= t(".destroy", default: t("helpers.links.destroy"))
        = link_to asset_info_adjustments_path, class: "btn" do
          %i.icon-list
          %span= t(".index", default: t("helpers.links.index"))
      .btn-group
        = render "layouts/toolbar"

.row-fluid
  .span12
    %table.table.table-bordered.table-hover.table-condensed.my-table-sheet
      %tbody
        %tr
          %th.span2= model_class.human_attribute_name(:asset_id)
          %td.span10= @asset_info_adjustment.asset_id
        %tr
          %th.span2= model_class.human_attribute_name(:effective_date)
          %td.span10= @asset_info_adjustment.effective_date
        %tr
          %th.span2= model_class.human_attribute_name(:asset_name_from)
          %td.span10= @asset_info_adjustment.asset_name_from
        %tr
          %th.span2= model_class.human_attribute_name(:asset_name_to)
          %td.span10= @asset_info_adjustment.asset_name_to
        %tr
          %th.span2= model_class.human_attribute_name(:brand_from)
          %td.span10= @asset_info_adjustment.brand_from
        %tr
          %th.span2= model_class.human_attribute_name(:brand_to)
          %td.span10= @asset_info_adjustment.brand_to
        %tr
          %th.span2= model_class.human_attribute_name(:model_from)
          %td.span10= @asset_info_adjustment.model_from
        %tr
          %th.span2= model_class.human_attribute_name(:model_to)
          %td.span10= @asset_info_adjustment.model_to
        %tr
          %th.span2= model_class.human_attribute_name(:serial_no_from)
          %td.span10= @asset_info_adjustment.serial_no_from
        %tr
          %th.span2= model_class.human_attribute_name(:serial_no_to)
          %td.span10= @asset_info_adjustment.serial_no_to
        %tr
          %th.span2= model_class.human_attribute_name(:is_tariff_free_from)
          %td.span10= @asset_info_adjustment.is_tariff_free_from
        %tr
          %th.span2= model_class.human_attribute_name(:is_tariff_free_to)
          %td.span10= @asset_info_adjustment.is_tariff_free_to
        %tr
          %th.span2= model_class.human_attribute_name(:is_specific_fund_from)
          %td.span10= @asset_info_adjustment.is_specific_fund_from
        %tr
          %th.span2= model_class.human_attribute_name(:is_specific_fund_to)
          %td.span10= @asset_info_adjustment.is_specific_fund_to
        %tr
          %th.span2= model_class.human_attribute_name(:tax_preference_id_from)
          %td.span10= @asset_info_adjustment.tax_preference_id_from
        %tr
          %th.span2= model_class.human_attribute_name(:tax_preference_id_to)
          %td.span10= @asset_info_adjustment.tax_preference_id_to
        %tr
          %th.span2= model_class.human_attribute_name(:is_vat_free_from)
          %td.span10= @asset_info_adjustment.is_vat_free_from
        %tr
          %th.span2= model_class.human_attribute_name(:is_vat_free_to)
          %td.span10= @asset_info_adjustment.is_vat_free_to
        %tr
          %th.span2= model_class.human_attribute_name(:vat_from)
          %td.span10= @asset_info_adjustment.vat_from
        %tr
          %th.span2= model_class.human_attribute_name(:vat_to)
          %td.span10= @asset_info_adjustment.vat_to
        %tr
          %th.span2= model_class.human_attribute_name(:vat_rate_from)
          %td.span10= @asset_info_adjustment.vat_rate_from
        %tr
          %th.span2= model_class.human_attribute_name(:vat_rate_to)
          %td.span10= @asset_info_adjustment.vat_rate_to
        %tr
          %th.span2= model_class.human_attribute_name(:created_by_id)
          %td.span10= @asset_info_adjustment.created_by_id
        %tr
          %th.span2= model_class.human_attribute_name(:updated_by_id)
          %td.span10= @asset_info_adjustment.updated_by_id
        %tr
          %th.span2= model_class.human_attribute_name(:confirmed_by_id)
          %td.span10= @asset_info_adjustment.confirmed_by_id
        %tr
          %th.span2= model_class.human_attribute_name(:confirmed_at)
          %td.span10= @asset_info_adjustment.confirmed_at
        %tr
          %th.span2= model_class.human_attribute_name(:approved_at)
          %td.span10= @asset_info_adjustment.approved_at
        %tr
          %th.span2= model_class.human_attribute_name(:approved_by_id)
          %td.span10= @asset_info_adjustment.approved_by_id
        %tr
          %th.span2= model_class.human_attribute_name(:rejected_at)
          %td.span10= @asset_info_adjustment.rejected_at
        %tr
          %th.span2= model_class.human_attribute_name(:rejected_by_id)
          %td.span10= @asset_info_adjustment.rejected_by_id
        %tr
          %th.span2= model_class.human_attribute_name(:submitted_at)
          %td.span10= @asset_info_adjustment.submitted_at
        %tr
          %th.span2= model_class.human_attribute_name(:submitted_by_id)
          %td.span10= @asset_info_adjustment.submitted_by_id
