= asset.simple_fields_for :accessory_adjustment_item_froms do |fm|
  = fm.input :name, as: :hidden
  = fm.input :brand, as: :hidden
  = fm.input :model, as: :hidden
  = fm.input :specification, as: :hidden
  = fm.input :serial_no, as: :hidden
  = fm.input :store_location, as: :hidden
  = fm.input :amount, as: :hidden
