= f.simple_fields_for :accessory_adjusting_assets do |asset|
  = asset.input :refer_from_id, as: :hidden
  = asset.input :refer_to_id, as: :hidden

  = render 'accessory_adjustment_item_froms', :asset => asset
  = render 'accessory_adjustment_item_tos', :asset => asset
