%tr.field
  %td= f.input_field :name, class: "input-block-level"
  %td= f.input_field :brand, class: "input-block-level"
  %td= f.input_field :model, class: "input-block-level"
  %td= f.input_field :specification, class: "input-block-level"
  %td= f.input_field :serial_no, class: "input-block-level"
  %td= f.input_field :store_location, class: "input-block-level"
  %td= f.input_field :amount, class: "input-block-level"
  %td
    = link_to_destroy_fields(content_tag("i", "", class: "icon-trash"), f)
