= simple_form_for(@accessory_adjustment, html: {class: "well form-horizontal"}) do |f|
  = f.error_notification
  = display_error_messages @accessory_adjustment
  .form-inputs
    = f.input :effective_date, as: :string, input_html: { class: "input-block-level", :"data-behavior" => "datepicker" }
    = f.input :created_by_id, as: :hidden
    = f.input :updated_by_id, as: :hidden
    = f.input :submitted, as: :hidden
    = f.input :approved, as: :hidden
    = f.input :confirmed, as: :hidden

    = render 'accessory_adjusting_assets', f: f

  .form-actions
    = f.button :submit, t('helpers.links.submit'), class: 'btn-primary'
