- model_class = @accessory_adjustment.class
.row-fluid.page-header
  .span5
    %h3= t(".title", title: "#{model_class.model_name.human}: #{@accessory_adjustment.id}", default: t("helpers.views.edit.title", title: "#{model_class.model_name.human}: #{@accessory_adjustment.id}"))
  .span7
    .pull-right
      .btn-group
        = link_to accessory_adjustments_path, class: "btn" do
          %i.icon-list
          %span= t(".index", default: t("helpers.links.index"))
      .btn-group
        = render "layouts/toolbar"
.row-fluid
  .span12
    = render "form"
