- model_class = AccessoryAdjustment
.row-fluid.page-header
  .span5
    %h3= t(".title", title: "#{model_class.model_name.human}: #{@accessory_adjustment.id}", default: t("helpers.views.show.title", title: "#{model_class.model_name.human}: #{@accessory_adjustment.id}"))
  .span7
    .pull-right
      .btn-group
        %button.btn.btn-info.dropdown-toggle{:"data-toggle" => "dropdown"}
          %i.icon-wrench.icon-white
          = t(".operation", default: t("helpers.links.operation"))
          %span.caret
        %ul.dropdown-menu
          - if can? :modify, @accessory_adjustment
            %li
              = link_to edit_accessory_adjustment_path(@accessory_adjustment) do
                %i.icon-pencil
                %span= t(".edit", default: t("helpers.links.edit"))
            %li
              = link_to @accessory_adjustment, method: :delete, data: {confirm: t(".destroy_confirm", default: t("helpers.links.destroy_confirm"))} do
                %i.icon-trash
                %span= t(".destroy", default: t("helpers.links.destroy"))
          - if can? :submit, @accessory_adjustment
            %li
              = link_to submit_accessory_adjustment_path(@accessory_adjustment), method: :put do
                %i.icon-upload
                %span= t(".submit", default: t("helpers.links.submit"))
          - if can? :confirm, @accessory_adjustment
            %li
              = link_to confirm_accessory_adjustment_path(@accessory_adjustment), method: :put do
                %i.icon-check
                %span= t(".confirm", default: t("helpers.links.confirm"))
          - if can? :approve, @accessory_adjustment
            %li
              = link_to approve_accessory_adjustment_path(@accessory_adjustment), method: :put do
                %i.icon-check
                %span= t(".approve", default: t("helpers.links.approve"))
      = link_to accessory_adjustments_path, class: "btn" do
        %i.icon-list
        %span= t(".index", default: t("helpers.links.index"))
      .btn-group
        = render "layouts/toolbar"

.row-fluid
  .span12
    %table.table.table-bordered.table-hover.table-condensed
      %thead
        %tr
          %th= model_class.human_attribute_name(:effective_date)
          %th= model_class.human_attribute_name(:created_by_id)
          %th= model_class.human_attribute_name(:created_at)
          %th= model_class.human_attribute_name(:updated_by_id)
          %th= model_class.human_attribute_name(:updated_at)
      %tbody
        %tr
          %td= @accessory_adjustment.effective_date && @accessory_adjustment.effective_date.to_date
          %td= @accessory_adjustment.created_by
          %td= @accessory_adjustment.created_at && @accessory_adjustment.created_at.to_date
          %td= @accessory_adjustment.updated_by
          %td= @accessory_adjustment.updated_at && @accessory_adjustment.updated_at.to_date
.row-fluid
  .span12
    %table.table.table-bordered.table-hover.table-condensed
      %thead
        %tr
          %th= model_class.human_attribute_name(:submitted)
          %th= model_class.human_attribute_name(:submitted_by_id)
          %th= model_class.human_attribute_name(:submitted_at)
          %th= model_class.human_attribute_name(:confirmed)
          %th= model_class.human_attribute_name(:confirmed_by_id)
          %th= model_class.human_attribute_name(:confirmed_at)
          %th= model_class.human_attribute_name(:approved)
          %th= model_class.human_attribute_name(:approved_by_id)
          %th= model_class.human_attribute_name(:approved_at)
      %tbody
        %tr
          %td= icon_true_false(@accessory_adjustment.submitted)
          %td= @accessory_adjustment.submitted_by
          %td= @accessory_adjustment.submitted_at && @accessory_adjustment.submitted_at.to_date
          %td= icon_true_false(@accessory_adjustment.confirmed)
          %td= @accessory_adjustment.confirmed_by
          %td= @accessory_adjustment.confirmed_at && @accessory_adjustment.confirmed_at.to_date
          %td= icon_true_false(@accessory_adjustment.approved)
          %td= @accessory_adjustment.approved_by
          %td= @accessory_adjustment.approved_at && @accessory_adjustment.approved_at.to_date

- item_fm_class = AccessoryAdjustmentItemFrom
- item_to_class = AccessoryAdjustmentItemTo
- @accessory_adjustment.accessory_adjusting_assets.each do |adj|
  .row-fluid
    .span12
      %table.table.table-bordered.table-hover.table-condensed.my-table-sheet
        %tbody
          %tr
            %th{colspan:7}= adj.asset.asset_no
          %tr
            %th= item_fm_class.human_attribute_name(:name)
            %th= item_fm_class.human_attribute_name(:model)
            %th= item_fm_class.human_attribute_name(:specification)
            %th= item_fm_class.human_attribute_name(:serial_no)
            %th= item_fm_class.human_attribute_name(:brand)
            %th= item_fm_class.human_attribute_name(:store_location)
            %th= item_fm_class.human_attribute_name(:amount)
          %tr
            %th{colspan:7}= item_fm_class.model_name.human
          - if adj.accessory_adjustment_item_froms.empty?
            %tr
              %td{colspan:7}= t('.no_record')
          - else
            - adj.accessory_adjustment_item_froms.each do |fm|
              %tr
                %td= fm.name
                %td= fm.model
                %td= fm.specification
                %td= fm.serial_no
                %td= fm.brand
                %td= fm.store_location
                %td= fm.amount
          %tr
            %th{colspan:7}= item_to_class.model_name.human
          - if adj.accessory_adjustment_item_tos.empty?
            %tr
              %td{colspan:7}= t('.no_record')
          - else 
            - adj.accessory_adjustment_item_tos.each do |to|
              %tr
                %td= to.name
                %td= to.model
                %td= to.specification
                %td= to.serial_no
                %td= to.brand
                %td= to.store_location
                %td= to.amount
